h1
{
 
  font-size:50px;
}
h1,h2,h3
{
  color:white; 
  text-align:center;
  font-family:Arial;
   
}
img 
{
  width:100vw;
}
body 
{
  background-color:black;
  overflow-x:hidden;
} 
.form{
  margin:0 auto;
  width: 50%;
  padding: 40px;
  background-color: rgba(255,60,60,0.4);
}  
input{
  border: none;
  width: 50%;
  max-width: 600px;
  display: block;
  height: 20px;
  padding: 1%;
  margin:3% auto;
}
.submit{
  border-radius: 15px;
  height: 35px;
  max-width: 100px;

}